<div class="typography-item">
  <h3>Angular Material</h3>
  <div class="typography-item-type">
    h1
  </div>
  <div class="typography-item-render">
    <h1>{{ sampleText }}</h1>
  </div>
</div>
<div class="typography-item">
  <div class="typography-item-type">
    h2
  </div>
  <div class="typography-item-render">
    <h2>{{ sampleText }}</h2>
  </div>
</div>
<div class="typography-item">
  <div class="typography-item-type">
    h3
  </div>
  <div class="typography-item-render">
    <h3>{{ sampleText }}</h3>
  </div>
</div>
<div class="typography-item">
  <div class="typography-item-type">
    h4
  </div>
  <div class="typography-item-render">
    <h4>{{ sampleText }}</h4>
  </div>
</div>
<div class="typography-item">
  <div class="typography-item-type">
    h5
  </div>
  <div class="typography-item-render">
    <h5>{{ sampleText }}</h5>
  </div>
</div>
<div class="typography-item">
  <div class="typography-item-type">
    h6
  </div>
  <div class="typography-item-render">
    <h6>{{ sampleText }}</h6>
  </div>
</div>
<div class="typography-item">
  <div class="typography-item-type">
    p
  </div>
  <div class="typography-item-render">
    <p>{{ sampleText }}</p>
  </div>
</div>
